body {
    margin: 0;
}

.font1 {
    font-family: 'Bona Nova', serif;
    letter-spacing: 20px;
    text-shadow: 4px 4px 4px gray;
}

h1 {
    font-size: 50px;
}

.to {
    display: inline-block;
    margin-top: 10px;
    margin-left: 170px;
}

.red {
    color: red;
    text-shadow: 4px 4px 4px rgb(204, 118, 118);
}

.word-text {
    text-shadow: 4px 4px 10px gray;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 100vh;
    padding-top: 30px;
}

div {
    padding: 50px;
}

.hire-me {
    text-decoration: none;
    background: linear-gradient(orange, red);
    padding: 5px 10px;
    color: white;
    text-shadow: 4px 4px 4px black;
}

.header {
    background: url("./Images/banner.png") no-repeat;
}

.middle {
    background: url("./Images/frame7.png") no-repeat right;
}